<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="primary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="filterGames($event)">
    <ion-segment-button value="all" checked>
      All
    </ion-segment-button>
    <ion-segment-button value="not played">
      Not played
    </ion-segment-button>
    <ion-segment-button value="playing">
      Playing
    </ion-segment-button>
    <ion-segment-button value="finished">
      Finished
    </ion-segment-button>
  </ion-segment>

</ion-content>
