<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Game details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" [ngStyle]="{'border-bottom': 
  game.status === 'finished' ? '12px solid #30CB83' :
  game.status === 'not played' ? '12px solid #E74C3C' :
  game.status === 'playing' ? '12px solid #F1C40F' : 'none'}">
    <img [src]="game.imageUrl">
    <ion-card-header>
      <ion-card-title>{{game.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <p><b>Developer</b>: {{game.developer}}</p>
        </ion-col>
        <ion-col col-6>
          <p><b>Publisher</b>: {{game.publisher}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <p><b>Genre</b>: {{game.genre}}</p>
        </ion-col>
        <ion-col col-6>
          <p><b>Platform</b>: {{game.platform}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>Status</b>: {{game.status}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
